<a href="https://colab.research.google.com/github/ucfilho/ANN/blob/master/ANN_2022/text_classification/text_classification_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
# https://www.kaggle.com/code/prateekmaj21/tf-idf-in-python/notebook

In [3]:
# text2category: is the fix sample set of text from the category
# text2classify: is the text we want to put in the category

# function tf_idf_result returns the most importants words
#  
# the idea is filter products which have words in common with category 
#     products with common words 
# ps: common words choose between 10, 5 or other selected number is the reference          

text2category=["kk kkk kkk kkkk kolkata big city india trade","mumbai financial capital india","delhi capital india",
               "kolkata capital colonial times","bangalore tech hub india software","mumbai hub trade commerce stock exchange",
               "kolkata victoria memorial","delhi india gate","mumbai gate way india trade business",
               "poor bellow sky fly","last fast loop choice","meal deal real few",
               "cat rat bat owl meal deal real few"]
category_labels =["a","b","c",
                   "d","e","f",
                   "g","h","i",
                  'j','k','m',
                  'n']
w =[]
text2classify =["delhi red fort india","kolkata metro oldest india", "delhi metro largest metro network india","poor bellow sky fly"]
for i in text2classify:
  for j in  i.split():
    w.append(j)
print(w)

t = "last fast choice".split()  # remember the split inside if was the case
u = "meal deal real few".split()
r = "cat rat bat owl meal deal real few".split()
s ="cat rat bat owl".split()
z ="kk kkk kkk kkkk".split()

['delhi', 'red', 'fort', 'india', 'kolkata', 'metro', 'oldest', 'india', 'delhi', 'metro', 'largest', 'metro', 'network', 'india', 'poor', 'bellow', 'sky', 'fly']

In [4]:
def CountText(w,text2category,category_labels):
  max_count, k, name  = 0, 0, 'none'
  common_list =[]
  for i in text2category:
    common_list = len(set(i.split()).intersection(w))
    if( common_list >= max_count):
      max_count = common_list
      name =  category_labels[k]
    k += 1
  common_list = [name, max_count]
  return common_list
  #print(word_count)

In [5]:
print(CountText(w,text2category,category_labels))
print(CountText(t,text2category,category_labels))
print(CountText(u,text2category,category_labels))
print(CountText(r,text2category,category_labels))
print(CountText(s,text2category,category_labels))
print(CountText(z,text2category,category_labels))

['j', 4]
['k', 3]
['n', 4]
['n', 8]
['n', 4]
['a', 3]